.header{
    position: fixed;
    top: 0;
    left: 20%;
    right: 0;
    height: 50px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    border-bottom: solid 1px rgb(99, 99, 99);
}
.shop-talk-search{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: rgb(59, 121, 255);
    padding: 5px 10px;
    border-radius: 10px;
    border: solid 1px rgb(59, 121, 255);
    margin-right: 10%;
}
.shop-talk-search:focus{
    outline: solid 1px rgb(59, 121, 255);
}
.shop-talk-search::placeholder{
    color: rgba(59, 121, 255, 0.7);
}
.header-title{
    flex: 1;
    font-size: 30px;
    font-weight: 600;
    color: rgb(59, 121, 255);
}
.profile-image{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
    cursor: pointer;
    transition: box-shadow 0.5s;
}
.profile-image:hover{
    box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.7); 
}
.profile{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    margin-right: 10px;
}
@media (max-width: 800px){
    .header-title{
        font-size: 20px;
        flex: 2;
    }
    .shop-talk-search{
        font-size: 15px;
        padding: 5px 5px;
        width: 40%;
    }
    
}
@media (max-width: 500px){
    .header{
        left: 10%;
    }

}