body{
    background-color: rgb(48, 48, 48);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.screen{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1000px;
    height: 100%;
    background-color: white;
}